<table>
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Media Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $data">
        <tr>
            <td data-bind="text: ISBN"></td>
            <td data-bind="text: MediaType"></td>
            <td data-bind="text: Name"></td>
        </tr>
    </tbody>
</table>
